<!-- /templates/my-form.html-->

<html>
    <head>
        <title>Form for Energy Demand</title>
    </head>
    <body>
	    <h3>Energy Experts</h3>

		<form action="/meter-cost-handler" method="POST">

				<br>
				<label for="metertype">Pick a meter type</label>
				<select name="metertype" style="font-family:verdana">
	      				<option value=""></option>
						<option value="Natural Gas">Natural Gas</option>
						<option value="Electric - Grid">Electric - Grid</option>
				</select>
				<br>
				<label for="year">Pick a year</label>
				<input type="number" min="2009" max="2022" name="year" id="year">
				<br>
				<label for="month">Pick a month</label>
				<select name="month" style="font-family:verdana">
	      				<option value=""></option>
						<option value="January">January</option>
						<option value="February">February</option>
						<option value="March">March</option>
						<option value="April">April</option>
						<option value="May">May</option>
						<option value="June">June</option>
						<option value="July">July</option>
						<option value="August">August</option>
						<option value="September">September</option>
						<option value="October">October</option>
						<option value="November">November</option>
						<option value="December">December</option>
  				</select>

				<br>
				<input type="submit" value="Submit">
		</form>

		<form action="/building-handler" method="POST">

				<br>
				<label for="building_name">Pick a building name</label>
				<select name="building_name" style="font-family:verdana">
						{% for b in building_list %}
							<option value="{{ b[0] }}">{{ b[0] }}</option>
						{% endfor %}
				</select>
				<br>
				<input type="submit" value="Submit">
		</form>

		<p>Map for reference</p>
		<div>
			<img src="{{ url_for('static',filename='/images/tcnj-map.png') }}" alt="Map of TCNJ">
		</div>
    </body>

    <!-- minimal styling -->
    <style>
        form {
            margin: 1%;
        }

        div {
            margin: 1% 0;
        }
		img {
			width: 85%;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
    </style>
</html>
