<!-- /templates/my-form.html-->

<html>
    <head>
        <title>Form for Energy Demand</title>
    </head>
    <body>
	    <h3>Group 6</h3>

	    <h4>Hello this is a test!</h4>
        <form action="/venue-handler" method="POST">
            <div>
                Find all the meters for a certain type
                <input type="text" name="venue_id">
            </div>
                <input type="submit" value="Submit">
        </form>

	    <h4>Example 2</h4>
        <form action="/query-handler" method="POST">
            <div>
		        Enter any PostgreSQL command, terminated with a semicolon
                <br />
	            Example query: SELECT * FROM meters;
		        <input type="text" name="query">
            </div>
                <input type="submit" value="Submit">
        </form>
    </body>

    <!-- minimal styling -->
    <style>
        form {
            margin: 1%;
        }

        div {
            margin: 1% 0;
        }
    </style>
</html>
