<!-- /templates/my-form.html-->

<html>
    <head>
        <title>Form for Energy Demand</title>
    </head>
    <body>
	    <h3>Group 6</h3>

	    <h4>ENERGY EXPERTS!</h4>
		<form action="/building-handler">
			<label for="building">Choose a building</label>
				<select name="building">
					{% for b in buildinglist %}
						<option value="{{ b[0] }}"> {{ b[0] }} </option>
					{% endfor %}
				</select>
		</form>
		<form action="/venue-handler" method="POST">
				<p style="font-family:verdana">


				<label for="building">Choose a building</label>
				<select name="building">
					{% for b in buildinglist %}
						<option value="{{ b[0] }}"> {{ b[0] }} </option>
					{% endfor %}
				</select>


    			Choose meter type:
				<SELECT name="MeterTypeDrop" style="font-family:verdana">
	      				<OPTION value=""></OPTION>
						<OPTION value="Natural Gas">Natural Gas</OPTION>
						<OPTION value="Electric - Grid">Electric - Grid</OPTION>
  				</SELECT>
  </p>

		<!form action="/venue-handler" method="POST">
            <div>
                Find all the meters for a certain type
                <!input type="text" name="MeterType">
            </div>
                <input type="submit" value="Submit">
        </form>

		<form action=s"/meter-cost-handler" method="POST">

				<br>
				<label for="metertype">Pick a meter type</label>
				<select name="metertype" style="font-family:verdana">
	      				<option value=""></option>
						<option value="Natural Gas">Natural Gas</option>
						<option value="Electric - Grid">Electric - Grid</option>
				</select>
				<br>
				<label for="year">Pick a year</label>
				<input type="number" min="2009" max="2022" name="year" id="year">
				<br>
				<label for="month">Pick a month</label>
				<select name="month" style="font-family:verdana">
	      				<option value=""></option>
						<option value="January">January</option>
						<option value="February">February</option>
						<option value="March">March</option>
						<option value="April">April</option>
						<option value="May">May</option>
						<option value="June">June</option>
						<option value="July">July</option>
						<option value="August">August</option>
						<option value="September">September</option>
						<option value="October">October</option>
						<option value="November">November</option>
						<option value="December">December</option>
  				</select>

				<br>
				<input type="submit" value="Submit">
		</form>

	    <h4>Example 2</h4>
        <form action="/query-handler" method="POST">
            <div>
		        Enter any PostgreSQL command, terminated with a semicolon
                <br />
	            Example query: SELECT * FROM meters;
		        <input type="text" name="query">
            </div>
                <input type="submit" value="Submit">
        </form>
		<div>
			<img src="{{ url_for('static',filename='/images/tcnj-map.png') }}" alt="Map of TCNJ">
		</div>
    </body>

    <!-- minimal styling -->
    <style>
        form {
            margin: 1%;
        }

        div {
            margin: 1% 0;
        }
		img {
			width: 85%;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
    </style>
</html>
